<section id="search">
  <h1>Search</h1>
  <form action="" method="" class="form">
    <input type="text" class="search" name="search" placeholder="Title..." />
    <input type="text" name="to" class="genre" placeholder="Genre..." />
    <input type="number" name="from" class="year" placeholder="Year..." />
    <input type="submit" value="search" />
  </form>
</section>

<section id="catalog">
  <div class="band">

    {{> catalog}}

  </div>
</section>